@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

:root {
  --green-color: #0BD692;
  --dark-color: #36393F;
  --black-color: #161716;
  --white-color: #fffafa;
  --white-color2: #f4f4f4;
  --gray-color: #d0d0d0;
  --dark-shadow: 1px 1px 2px var(--dark-color);
  --light-shadow: text-shadow: 0px 1px 1px rgba(22, 23, 22, 0.20);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: var(--white-color);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 7rem;
  width: 100%;
  z-index: 99;
}

#nav-logo {
  height: 6rem;
}

.header-nav ul {
  display: flex;
  font-size: 1.3rem;
  gap: 1.5rem;
  margin-left: 10rem;
}

.header-nav ul a {
  color: var(--white-color);
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: var(--dark-shadow);
  transition: .5s ease;
}

.header-nav ul a:hover {
  color: var(--green-color);
}

video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.overlay-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 23, 22, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  color: var(--white-color);
  font-size: 2rem;
  text-shadow: var(--dark-shadow);
  text-align: center;
  padding: 1.2rem;
  max-width: 100%;
  margin-top: 5rem;
}

span {
  color: var(--green-color);
}

.hero-button {
  margin: 5rem 0 0;
  padding: 1.2rem;
  border-radius: .7rem;
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px #16171649;
  border: none;
  font-weight: 500;
  background-color: var(--green-color);
  color: var(--white-color);
  transition: .3s ease-in-out;
}

.hero-button:hover {
  background-color: transparent;
  border: 1px solid var(--gray-color);
  transform: scale(1.1);
}

.hero-button i {
  margin-right: .5rem;
}

.menu-btn {
  cursor: pointer;
}

.menu-btn i {
  color: var(--green-color);
  text-shadow: var(--dark-shadow);
  font-size: 2rem;
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-color);
  background-image: url(../images/road.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  box-sizing: border-box;
  z-index: 999;
}

.mobile-menu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.mobile-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 1.5rem;
  gap: 2rem;
  margin: 10rem 0;
}

.mobile-menu ul a {
  transition: .3 ease;
}

.mobile-menu ul a:hover {
  color: var(--green-color);
}

.close-btn {
  cursor: pointer;
  position: absolute;
  top: 5%;
  left: 85%;
  font-size: 1.5rem;
  color: var(--green-color)
}

.nav-social-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 1.8rem;
}

.nav-social-links a:nth-child(1) {
  color: var(--green-color);
  ;
}

.nav-social-links a:nth-child(2) {
  color: var(--green-color);
  ;
}

.nav-social-links a:nth-child(3) {
  color: var(--green-color);
}

#about-us {
  margin: 8rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  max-width: 100%;
  padding: 0 3rem;
}

#about-us img {
  max-height: 40rem;
  max-width: 100%;
  border-radius: 1rem;
}

.about-content {
  max-width: 30rem;
}

.about-heading {
  font-size: 2rem;
  margin: 0 0 2rem;
  color: var(--green-color);
  text-shadow: 0px 1px 1px rgba(22, 23, 22, 0.20);
  ;
}

.about-content p {
  font-size: 1rem;
}

.about-content button {
  margin: 2rem auto;
  font-size: 1.1rem;
  font-weight: 500;
  padding: .75rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--green-color);
  color: var(--white-color);
  text-shadow: 0px 1px 1px rgba(22, 23, 22, 0.50);
  width: 10rem;
  transition: .3s ease-in-out;
}

.about-content button:hover {
  background-color: var(--dark-color);
  border: 1px solid var(--black-color-);
  color: var(--white-color);
  transform: scale(1.050);
}

.about-content button i {
  font-size: .9rem;
  margin-right: .3rem;
}

#services {
  margin: 8rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 65%;
}

.section-heading {
  font-size: 2.3rem;
  margin: 0 0 2rem;
  color: var(--green-color);
  text-shadow: 0px 1px 1px rgba(22, 23, 22, 0.20);
}

.cards-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  gap: 1rem;
}

.cards {
  width: 100%;
  border: 1px solid #d0d0d080;
  border-radius: 1rem;

}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  background-color: var(--white-color2);
  border-radius: 1rem;
  height: 100%;
}

.card-content h4 {
  font-size: 1.3rem;
  color: var(--green-color);
  text-shadow: var(--light-shadow);
}

.card-content p {
  margin: 0 1rem 1rem;
  font-size: 1rem;
}

.cards img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}