@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

:root {
  --green-color: #0BD692;
  --green-color-dark: #199c70;
  --dark-color: #36393F;
  --black-color: #161716;
  --black-color-light: #141816;
  --white-color: #fffafa;
  --white-color2: #f4f4f4;
  --gray-color: #d0d0d0;
  --gray-color2: #969696;
  --dark-shadow: 1px 1px 2px var(--dark-color);
  --light-shadow: text-shadow: 0px 1px 1px rgba(22, 23, 22, 0.20);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: var(--white-color);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 7rem;
  width: 100%;
  z-index: 99;
}

.header-scroll {
  height: 4rem;
  background-color: var(--black-color-light);
  box-shadow: 0px 3px 6px -6px rgba(0, 0, 0, 0.835);
  transition: .5s ease;
}

#nav-logo {
  height: 5rem;
  transition: .5s ease;
}

.menu-text {
  display: flex;
  font-size: 1rem;
  gap: 1.5rem;
  margin-left: 10rem;
}

.header-nav ul a {
  color: var(--white-color);
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: var(--dark-shadow);
  transition: .5s ease;
}

.header-nav ul a:hover {
  color: var(--green-color);
}

video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.overlay-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 23, 22, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  color: var(--white-color);
  font-size: 1.8rem;
  text-shadow: var(--dark-shadow);
  text-align: center;
  padding: 1.2rem;
  max-width: 100%;
  margin-top: 5rem;
}

span {
  color: var(--green-color);
}

.hero-button {
  margin: 5rem 0 0;
  padding: 1rem;
  border-radius: .7rem;
  font-size: 1rem;
  text-shadow: 1px 1px 1px #16171649;
  border: none;
  font-weight: 500;
  background-color: var(--green-color);
  color: var(--white-color);
  transition: .3s ease-in-out;
}

.hero-button:hover {
  background-color: transparent;
  border: 1px solid var(--gray-color);
  transform: scale(1.1);
}

.hero-button i {
  margin-right: .5rem;
}

.menu-btn {
  cursor: pointer;
}

.menu-btn i {
  color: var(--green-color);
  text-shadow: var(--dark-shadow);
  font-size: 2rem;
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-color);
  background-image: url(../images/road.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  box-sizing: border-box;
  z-index: 999;
}

.mobile-menu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.mobile-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 1.5rem;
  gap: 2rem;
  margin: 10rem 0;
}

.mobile-menu ul a {
  transition: .3 ease;
}

.mobile-menu ul a:hover {
  color: var(--green-color);
}

.close-btn {
  cursor: pointer;
  position: absolute;
  top: 5%;
  left: 85%;
  font-size: 1.5rem;
  color: var(--green-color)
}

.nav-social-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 1.8rem;
}

.nav-social-links a:nth-child(1) {
  color: var(--green-color);
  ;
}

.nav-social-links a:nth-child(2) {
  color: var(--green-color);
  ;
}

.nav-social-links a:nth-child(3) {
  color: var(--green-color);
}

#about-us {
  margin: 5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  max-width: 100%;
  padding: 0 3rem;
}

#about-us img {
  max-height: 40rem;
  max-width: 100%;
  border-radius: 1rem;
}

.about-content {
  max-width: 30rem;
}

.about-heading {
  font-size: 2rem;
  margin: 0 0 2rem;
  color: var(--green-color);
  text-shadow: 0px 1px 1px rgba(22, 23, 22, 0.20);
  ;
}

.about-content p {
  font-size: 1rem;
}

.about-content button {
  margin: 2rem auto;
  font-size: 1.1rem;
  font-weight: 500;
  padding: .75rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--green-color);
  color: var(--white-color);
  text-shadow: 0px 1px 1px rgba(22, 23, 22, 0.50);
  width: 10rem;
  transition: .3s ease-in-out;
}

.about-content button:hover {
  background-color: var(--dark-color);
  border: 1px solid var(--black-color-);
  color: var(--white-color);
  transform: scale(1.050);
}

.about-content button i {
  font-size: .9rem;
  margin-right: .3rem;
}

#services {
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 65%;
}

.section-heading {
  font-size: 2.3rem;
  margin: 0 0 2rem;
  color: var(--green-color);
  text-shadow: 0px 1px 1px rgba(22, 23, 22, 0.20);
}

.cards-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  gap: 1rem;
}

.cards {
  width: 100%;
  border: 1px solid #d0d0d080;
  border-radius: 1rem;

}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  background-color: var(--white-color2);
  border-radius: 1rem;
  height: 100%;
}

.card-content h4 {
  font-size: 1.3rem;
  color: var(--green-color);
  text-shadow: var(--light-shadow);
}

.card-content p {
  margin: 0 1rem 1rem;
  font-size: 1rem;
}

.cards img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

/* CTA */

#cta-container {
  width: 100%;
  height: 20rem;
  background-image: url(../images/cta-image.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

#cta-container h2 {
  font-size: 2.3rem;
  color: var(--white-color);
  text-align: center;
  margin: 0 2rem;
}

.cta-button {
  padding: .7rem;
  border-radius: .7rem;
  font-size: 1rem;
  text-shadow: 1px 1px 1px #161716;
  border: none;
  font-weight: 500;
  background-color: var(--green-color);
  color: var(--white-color);
  transition: .3s ease-in-out;
}

.cta-button:hover {
  background-color: transparent;
  border: 1px solid var(--gray-color);
  transform: scale(1.1);
}

#brazil-map {
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#brazil-map .section-heading {
  margin: 0 2rem 2rem;
}

.map-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.map-container svg {
  max-width: 100%;
}

.centro-sul,
.centro-oeste,
.nordeste,
.sudeste,
.sul {
  fill: var(--green-color);
}

.norte {
  fill: var(--gray-color);
}

path {
  fill: var(--green-color);
  stroke: white;
  stroke-width: 1px;
}

.selected:hover {
  fill: var(--green-color-dark);
  stroke: var(--green-color);
  stroke-width: 1px;
  transition: ease 0.4s;
}

.tooltip {
  pointer-events: none;
  position: absolute;
  font-size: 1rem;
  text-align: center;
  background: var(--white-color);
  padding: .4rem 1.2rem;
  z-index: 5;
  height: 2rem;
  margin: 0 auto;
  color: var(--black-color-light);
  border: solid 1px #1617166e;
  border-radius: 5px;
  transform: translateX(-50%);
  display: none;
}

.tooltip.active {
  display: block;
}

.tooltip:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
}

.map-subtitle {
  margin: 0 1.5rem;
  display: flex;
  justify-content: center;
  align-self: center;
  border-collapse: collapse;
  border: 1px solid var(--gray-color2);
  border-radius: .5rem;
}

.map-subtitle td {
  font-size: 1.1rem;
  padding: 1rem;
  border-bottom: 1px solid var(--gray-color2);
}

.map-subtitle tr:last-child td {
  border-bottom: none;
}

.map-subtitle i {
  font-size: 1.5rem;
  margin-right: .8rem;
  border-radius: 50%;
}

.map-subtitle tr:first-child i {
  color: var(--green-color);
  border: 1px solid var(--green-color-dark);
}

.map-subtitle tr:last-child i {
  border: 1px solid var(--gray-color2);
  color: var(--gray-color);
}